.directory-node {
	cursor: pointer;
}

.directory-node:hover {
	background-color: lightgray;
}

.file-node {
}

.file-node:hover {
	background-color: lightgray;
}

.tree-icon {
	max-height: 18px;
	vertical-align: middle;
}

.tree-children-list {
	list-style-type: none;
	padding-left: 15px;
}

.toolbar-action {
	visibility: hidden;
}

.toolbar-action:hover {
	cursor: pointer;
	border-style: solid;
}

.tree-item-header:hover .toolbar-action {
	visibility: visible;
}
