<html>
<head>
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
	<script src="base.js"></script>
	<script defer src="index.js"></script>
</head>
<body>
<main id="app">
	<div id="overlay-rect"></div>
	<article>
		<section v-for="root in this.roots">
			<ul class="tree-children-list">
				<tree-menu
						:label="root.name"
						:nodes="root.children">
				</tree-menu>
			</ul>
		</section>
	</article>
</main>
</body>
</html>
